!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"
    = favicon_tag "favicon.png"
    %script(src="//use.typekit.net/vwk5rox.js")
    %script
      try{Typekit.load();}catch(e){}

  %body{class: page_classes}
    = yield
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js", "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js", "application"
